@font-face {
    font-family: "JejuGothic";
    src: url("../fonts/JejuGothic/jejugothic/JejuGothic-Regular.ttf")
      format("truetype");
  }
  
  header {
    background-color: #0a3641;
  }
  
  body {
    font-family: "JejuGothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1,
  .logo {
    font-family: "JejuGothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-size: 50px;
    color: #f27712;
    padding-left: 400px;
  }
  
  nav li {
    display: inline-block;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
    text-decoration-color: #f27712;
  }
  footer {
    background-color: #0a3641;
    color: #fff;
  }