@font-face {
  font-family: "JejuGothic";
  src: url("../fonts/JejuGothic/jejugothic/JejuGothic-Regular.ttf")
    format("truetype");
}




header {
  position: relative;
  color: #0a3641;
  background-color: #FFF;
  margin: 0;
  padding: 0;

}

header a {     /*links in header*/
  color: #FFF;
  text-decoration: none;
  background-color: #0a3641;
  padding: 10px 40px 10px 10px;
  
}


nav a:hover {
  color:#f27712;
}

.current {
  color:#f27712
}

/*navigation for mobile phone screen*/

nav,
#menu-checkbox {   /*hamburger hidden menu*/
  display: none; 
  position: absolute;
  background: #0a3641; 
  z-index: 1;
  
}



#menu-checkbox:checked  ~ nav {
  display:block;
  
}

nav a {
  display: block;
  color: #FFF
  text-decoration: none;

}

/*mobile*/
@media screen and (max-width: 600px) {
 
.ctahero {
position: absolute;
margin: 300px 10px 20px 0px;
}

 .cta__container {
  position: relative;
  padding: 30px 10px 30px 110px;
 }
}
  
/*desktop*/
@media (min-width: 600px) {
  
  /*navigation*/ 
  nav {
    display: block;
    position: static;
    order: 1
    overflow: auto;
    width: 100%;
    
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
  display: block;
  width: 100%;

}

nav li{
  display: inline-block;

}

}



/*Home page - hero*/

.hero {
background-image: url("../images/hero1.jpg");
background-size: cover;
position: relative; 
min-height: 550px;  
min-width: 100%;
}


.cta-container {
  padding: 400px 50px;
  position: absolute; 
}

h1 {
  font-size: 70px;;
  color: #f27712;
  min-width: 100%;
  padding: 0px 10px 0px;
}


.cta__shop,
.cta {        /*cta for all cta-buttons*/
  background-color: #f27712;
  color:#FFF; 
  text-decoration: none;
  font-size: 1.0em;
  padding: 15px 50px 15px 50px;
 
}


.cta__shop {   /*shop men women*/
display: inline-block;
margin-top: 500px; 
margin-left: 150px; 
}


.shop--men {
  background-image: url("../images/menshop.jpg");
  background-repeat: no-repeat;
  min-width: 100%;
  height: 620px;
  margin: 20px;
}


.shop--women {
  background-image: url("../images/womenshop_resized.png");
  background-repeat: no-repeat;
  width: 523px;
  height: 620px;
  margin: 20px;

}

.shop--all {
  background-image: url("../images/alljackets1.jpg");
   background-size: cover;
  background-repeat: no-repeat;
  width: 526px;
  height: 450px;
  margin: 0px 0px 10px 19px;
}

.small {
  margin-top: 330px;
  background-color: #FFF;
  color:#f27712;
}


body {
  font-family: "JejuGothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*mens productlist*/

.flex-products {
  display: flex;
  min-width: 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.flex-jacket {
  background-color: #FFF; 
  width: 300px;
  height: 500px;
  border-style:groove;
  border-color: #0a36411c;
}

.image {
padding: 10px 10px 10px 10px; 
}

.view-button {
 padding: 15px 50px 15px 50px;
margin-top: auto; 
margin-left: 40px; 
right: 50px; 
top: 10px; 
text-align: center;
}

.product-info {
  display: flex;
}

footer{
min-height: 10px;
width: 100%;
padding: 30px 0px;
background-color:#0a3641; 
color: #FFF;
  text-align: center; 
}









