@font-face {
  font-family: "JejuGothic";
  src: url("../fonts/JejuGothic/jejugothic/JejuGothic-Regular.ttf")
    format("truetype");
}

:root {
  --background-size: cover;
  --background-repeat: no-repeat;
  --height: 650px;
  --min-width: 100%;
  --min-height: auto;
  --blue: #0a3641;
  --white: #fff;
  --orange: #f27712;
}

ul {
  list-style-type: none;
  display: inline-block;
}

#navbar-main {
  background-color: var(--white);
  box-sizing: border-box;
  padding: 10px;
}

li {
  display: inline-block;
  padding: 10px 30px 0px 0px;
}

nav {
  left: 0px;
  width: 200px;
  position: fixed;
  display: flex;
  width: var(--min-width);
}

#header-container {
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}

header {
  background-color: var(--white);
  min-height: 80px;
  min-width: var(--min-width);
  position: var(--min-width);
  top: 10px;
}

header a {
  /*links in header*/
  color: var(--blue);
  background-color: var(--white);
  text-decoration: none;
}

nav a:hover {
  color: var(--orange);
}

.current {
  color: var(--orange);
}

body {
  font-family: "JejuGothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  width: var(--min-width);
}

/*Home page - hero*/

/*slider learned from css-tricks*/

.slider-container {
  max-width: 100%;
  height: 800px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.slide {
  max-width: 100%;
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
}

#slide-1 {
  background-image: url("../images/hero1.jpg");
  background-size: cover;
  background-repeat: var(--background-repeat);
  box-sizing: border-box;
  height: 800px;
  background-position: top 20px right 85%;
  min-width: 100%;
}

#slide-2 {
  background-image: url("../images/hero-2.jpg");
  background-size: cover;
  background-repeat: var(--background-repeat);
  box-sizing: border-box;
  height: 800px;
  background-position: bottom 0px left 50%;
  min-width: 100%;
}

#slide-3 {
  background-image: url("../images/hero3.jpg");
  background-size: cover;
  background-repeat: var(--background-repeat);
  box-sizing: border-box;
  height: 800px;
  background-position: bottom 30% right 10%;
  width: 100%;
}

h1 {
  box-sizing: border-box;
  font-size: 70px;
  color: #f27712;
  width: var(--min-width);
  margin: 0px;
  padding: 20px 0px 0px 0px;
}

.view-button,
.cta__shop,
.cta {
  /*cta for all cta-buttons*/
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  font-size: 1em;
  padding: 15px 50px 15px 50px;
}

#main-footer {
  max-width: var(--min-width);
  padding: 40px;
  max-width: 100%;
  text-align: center;
  background-color: var(--white);
  color: var(--blue);
}
.cta__shop {
  display: inline-block;
  margin-top: 500px;
  margin-left: 170px;
}

.container1 {
  width: var(--min-width);
}

.shop--men {
  background-image: url("../images/menshop.jpg");
  background-repeat: var(--background-repeat);
  min-width: var(--min-width);
  height: 620px;
}

.shop--women {
  background-image: url("../images/womenshop_resized.png");
  background-repeat: var(--background-repeat);
  min-width: var(--min-width);
  height: 620px;
}

.shop--all {
  background-image: url("../images/alljackets1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: var(--min-width);
  height: 450px;
  margin: 10px 0px 50px 0px;
}

.small {
  margin-top: 330px;
  background-color: var(--white);
  color: var(--orange);
  border-style: solid;
  border-width: 0.3ch;
}

/*mens productlist*/

.hero-mens {
  background-image: url("../images/menshop.jpg");
  background-size: var(--cover);
  background-repeat: var(--background-repeat);
  height: var(--height);
  min-width: var(--min-width);
}

.hero-womens {
  background-image: url("../images/womenshop_resized.png");
  background-size: var(--cover);
  background-repeat: var(--none);
  height: var(--height);
  min-width: var(--min-width);
}

.hero-alljackets {
  background-image: url("../images/hero3.jpg");
  background-size: cover;
  background-repeat: var(--none);
  height: var(--height);
  min-width: var(--min-width);
}

.spesific__h1 {
  display: flex;
  padding: 10px 70px 0px;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: 0px;
}

.mens-productlist img {
  min-width: var(--min-width);
  min-height: var(--min-height);
}

.flex-jacket {
  background-color: var(--white);
  width: 300px;
  height: 500px;
  border-style: groove;
  border-color: #0a36411c;
  padding: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 30px 0px;
}

.view-button {
  padding: 15px 10px 15px 80px;
  box-sizing: border-box;
  display: flexbox;
  margin: 0px 30px 10px 10px;
}

.product-info h2 {
  font-size: 16px;
  margin: 10px 90px;
}

p {
  font-size: 12px;
  display: inline-block;
  padding: 0px 40px;
}

/*site spesific*/
.spesific__h1 {
  position: flex;
  padding: 100px 80px 10px;
}
.spesific-container {
  box-sizing: border-box;
  display: block;
  height: var(--min-height);
  max-width: 100%;
  padding: 30px 60px;
}

.spesific-jacket {
  background-color: var(--white);
  width: 80px;
  height: auto;
}

.spesific-info {
  padding: 10px 0px 0px 0px;
}

.spesific-cta {
  width: 120px;
  position: flex;
  margin: 0px 70px;
}

/*shopping cart*/
.cart__h1 {
  position: flex;
  padding: 100px 80px 10px;
}
.cart-container {
  display: flex;
  margin: 0px auto;
  min-height: 400px;
  max-width: 100%;
  font-size: 12px;
}

.cart-image {
  background-image: url("../images/RainyDays_1jacketsmall.jpg");
  background-size: contain;
  background-repeat: var(--background-repeat);
  display: flex;
  height: 500px;
  width: 400px;
}

.cart-info {
  margin: 1px;
  display: flex;
  flex-direction: column;
}

p {
  padding: 0px;
}

.cart-cta {
  box-sizing: border-box;
  position: absolute;
  top: 480px;
  right: 30px;
  font-size: 12px;
}

/*order complete*/

.biglogo {
  background-image: url("../icons/RainyDays_logo1.png");
  background-size: contain;
  background-repeat: var(--background-repeat);
  position: fixed;
  height: 400px;
  width: 200px;
  top: 400px;
  left: 120px;
}

.ckeckout-content {
  padding: 100px;
  display: grid;
  justify-content: space-between;
}

/*about us*/

.about__h1 {
  margin: 100px 20px 20px 140px;
  display: flex;
}

.about-img {
  background-image: url("../images/aboutus-img.jpg");
  background-size: cover;
  background-repeat: var(--background-repeat);
  box-sizing: border-box;
  background-position: top 20px right 85%;
  display: flex;
  height: 900px;
  width: 100%;
}

.about-info {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.831);
  top: 600px;
  left: 50px;
  right: 30px;
  padding: 50px 50px 50px 50px;
  color: var(--blue);
}
/*mobile screen*/

@media screen and (max-width: 600px) {
  nav,
  #navbar-main,
  #menu-checkbox {
    /*hamburger hidden menu*/
    display: none;
    position: fixed;
    background-color: var(--white);
  }

  #menu-checkbox:checked ~ nav {
    display: block;
    padding: 10px 30px 30px 30px;
    text-align: left;
  }

  /*burger-menu, logo, cart */

  nav li {
    display: block;
    padding: 10px;
  }

  .navbar-small {
    display: block;
    position: absolute;
    width: 200px;
    margin: 20px 0px;
  }

  .smallheader {
    position: fixed;
    padding: 10px 0px 20px 20px;
    height: 40px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .small-cart {
    display: flex;
    box-sizing: border-box;
    top: 20px;
    right: 50px;
  }

  .burgericon {
    padding: 20px 10px;
  }

  .menu-line {
    /*burger menu*/
    width: 20px;
    height: 3px;
    background-color: var(--blue);
    margin-bottom: 4px;
    position: flex;
    display: block;
  }

  .logosmall {
    background-image: url("../icons/RainyDays_logo1.png");
    background-color: var(--white);
    background-size: contain;
    background-repeat: var(--background-repeat);
    position: fixed;
    height: 70px;
    width: 100px;
    left: 140px;
    top: 20px;
  }

  .cta-hero1 {
    background-color: #ffffff90;
    color: var(--blue);
    text-decoration: none;
    font-size: 1em;
    border-style: solid;
    border-color: var(--white);
    position: absolute;
    padding: 20px 75px 20px 75px;
    margin: 600px 0px 0px 80px;
  }

  .cta-hero1__cta-hero2 {
    top: 200px;
    left: 100px;
  }

  /*mens jackets mobile*/

  .small-productlist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    max-width: 100%;
    margin: 0px 0px 20px;
    padding: 30px 60px;
  }

  /*shopping cart*/
}

/*DESKTOP*/

@media (min-width: 600px) {
  /*navigation*/

  .navlogo {
    background-image: url("../icons/RainyDays_logo1.png");
    background-color: var(--white);
    background-size: contain;
    background-repeat: var(--background-repeat);
    height: 70px;
    width: 150px;
    display: flex;
    margin: 0px 50px 0px;
  }

  .logosmall,
  .menu-line,
  .cta_hero1,
  .cta_hero2,
  #menu-checkbox,
  .hamburger-icon {
    display: none;
  }

  nav a {
    /*hover links*/
    display: block;
    min-width: var(--min-width);
  }

  .bigcart {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    top: 10px;
    right: 20px;
  }
}
